h1{
    font-size: 24px;
    color: rgb(64, 0, 255);
    font-style: italic;
    font-weight: bolder;
}
h2{
    font-size: 20px;
    color: #0000ff;
    font-style: italic;

}
h3{
    font-size: 16px;
    color: teal;
    font-style: italic;
}
p{
    color: #4D4D4D  ;

}
.eersteparagraaf{
    font-style: italic;
}
p{
    color: #4D4D4D ;
}
a{
    color: #8A2BE2;
    text-decoration: none;
}

