* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  html {
    font-size: 62.5%;
  }
  body {
    font-family: "Goldman", cursive;
    background-image: url(img/background\ \(1\).png);
    background-image: url(/img/abdelrruh.png);
  }
   
  nav {
    display: flex;
    width: 100%;
    padding: 2rem;
    min-height: 10vh;
    align-items: center;
    flex-wrap: wrap;
    margin: auto;
    background: #00a8c7;
    justify-content: space-between;
  }
  nav ul {
    display: flex;
    align-items: center;
    list-style-type: none;
  }
  nav li {
    font-size: 2.5rem;
    padding: 0 4rem 0 4rem;
  }
  nav a {
    color: white;
    text-decoration: none;
  }
  nav img {
    width: 5vw;
  }
   
  h1{
    color: white;
  }
   
  .title{
    font-size: 47px;
  }

.dropdown {
    position: relative;
    display: inline-block;
  }
   
  .dropdown-button {
    background-color: #00A9B9;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    font-family: 'Arial', sans-serif;
    font-weight: bold;
    border: none;
    cursor: pointer;
    display: inline-block;
    padding-right: 40px;
    position: relative;
  }
   
  .dropdown-button::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 100%;
    background-color: #00A9B9;
  }
   
   
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }
   
   
  .dropdown-content a {
    color: #00A9B9;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-family: 'Arial', sans-serif;
    font-weight: bold;
  }
   
  .dropdown-content a:hover {
    background-color: #E9E9E9;
  }
   
  .dropdown:hover .dropdown-content {
    display: block;
  }